n8n-workflow-example.json
{
  "name": "AI Image Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "generate-image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/generate/sdxl",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.body.prompt || 'a beautiful landscape' }}"
            },
            {
              "name": "width",
              "value": "={{ $json.body.width || 1024 }}"
            },
            {
              "name": "height",
              "value": "={{ $json.body.height || 1024 }}"
            },
            {
              "name": "num_inference_steps",
              "value": "={{ $json.body.steps || 30 }}"
            },
            {
              "name": "guidance_scale",
              "value": "={{ $json.body.guidance || 7.5 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-image",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
